.app {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
}

h1 {
  margin-bottom: 3rem;
  color: #61dafb;
  font-size: 3rem;
}

.field {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 0.5rem;
  width: 62rem;
}

.field .cell {
  width: 2rem;
  height: 2rem;
  background-color: purple;
}

.field .cell.snake {
  background-color: #7d47dd;
  animation: snake-blink 1.2s infinite;
}


@keyframes snake-blink {
  0% { opacity: 100%; }
  50% { opacity: 50% }
  100% { opacity: 100% }
}