.app {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
}

h1 {
  margin-bottom: 3rem;
  color: #61dafb;
  font-size: 3rem;
}

.field {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 0.5rem;
  width: 62rem;
}

.field .cell {
  width: 2rem;
  height: 2rem;
  background-color: purple;
}

.field .cell.snake {
  background-color: #7d47dd;
  animation: snake-blink 1.2s infinite;
}

.field .cell.food {
  width: 2rem;
  height: 2rem;
  background-color: orangered;
}

.game-over {
  font-size: 5em;
  font-weight: 600;
  color: deepskyblue;
  text-transform: uppercase;
}

.start-game {
  margin: 1em 0;
  padding: 0.3em 1em;
  border: none;
  border-radius: 0.5em;
  color: orangered;
  background-color: #fafafa;
  font-size: 2em;
  font-weight: 600;
  outline: none;
}

.start-game:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.start-game:active {
  transform: scale(0.95);
}

@keyframes snake-blink {
  0% { opacity: 100%; }
  50% { opacity: 50% }
  100% { opacity: 100% }
}